<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='{{ url_for("static", filename="base.css") }}'> 
    
</head>
<body>
    <h1> {{ message }} </h1>

    <h4> Frutas Disponibles: </h4>

    <ul>

        {%  for num in numbers %} 
        
            <li><a href="{{ url_for('fruta', id=loop.index) }}">{{num}}</a></li>
        
        {% endfor %}
    </ul>


</body>
</html>

